.list {
  color: #fff;
  width: 300px;
  background-color: #bf07ac;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
}

.list p {
  padding: 10px;
  position: relative;
}

.deletebtn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  background-color: #bf07ac;
  color: white;
  height: 20px;
  width: 80px;
  border: 0;
}

.list p input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
}

.list p input:focus {
  outline: none;
}
